 {% extends 'pages/navbar.html' %}
    {% block title %}Lost & Found{% endblock %}
    {% block home_active %}is-active{% endblock %}
    {% block body %}
    <style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
section {
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(rgba(0, 34, 76, 0.9), rgba(0, 34, 76, 0.9)),
url(https://media.nbcphiladelphia.com/images/1200*675/phi-missing-collage2.jpg);
  background-size: cover;
  background-position: center;
}
body{
  color: white;
  /*text-shadow: 1px 1px grey;*/
}
/*p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  color: white;
}*/
footer{
  color: blue;
}
</style>
<section id="services" class="service-item">
       <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <div class="media services-wrap wow fadeInDown">
                        <!-- <div class="pull-left">
                            <img class="img-responsive" src="images/services/services1.png">
                        </div> -->
                        <div class="media-body">
                          <br><br><br><br><br>
                            
                            <p style ="text-indent: 50px; text-align: justify; letter-spacing: 3px; color: white;">
          Police efforts to locate and return missing persons is but one aspect of the larger set of problems related to the reasons people go missing. We have got together to address with the altruistic motive of helping reunite missing people with their families. A child may be lost and he may not find the way back home. An adult with mental health issues may be lost and there is no way he or she will be able to find his/her way back to their families. They languish and suffer while their families grieve and search frantically. Our mission is to help such lost children or adults reunite with their families.
         </p>
         <p style ="text-indent: 50px; text-align: justify; letter-spacing: 3px; color: white;">
          We are gratified that eminent personalities have lent their support and backing for this project.
         <p style ="text-indent: 50px; text-align: justify; letter-spacing: 3px; color: white;">
            For Project Overview, Please Click <span style="font-size:18px"> <a style="color:#3386af" href="C:\Users\User\Local Settings\Desktop\minor new\minorproject\media\sss.pptx"> [Know More]</a></span>

         </p>
         <br><br><br><br><br><br><br>
                        </div>
                    </div>
                </div>

                

                                                              
            </div>
        </div>

    {% endblock %}